header
  background: #263F86
  text-align: center

  h1
    display: inline-block

  h1 a
    text-indent: -9999px
    background: url(../assets/mttrs.png)
    background-size: 128px 32px
    display: block
    width: 128px
    height: 32px
    margin: 12px 0 11px 0
    padding: 0
    cursor: pointer
