main
  padding: 15px

  .story
    display: table
    border-top: 1px solid #ccc
    padding: 15px 0 10px 0
    float: left
    width: 100%

    img
      width: 100px
      height: 75px
      margin: 0 20px 0 0

    .story-text
      display: table-cell
      width: 100%
      vertical-align: middle
      margin: 0
      padding: 0

    a
      color: #000
      cursor: pointer

    h3
      font-weight: normal
      font-size: 16px
      margin: -8px 0 5px 0
      padding: 0

    p
      margin: 0
      padding: 0
      font-size: 12px
      color: #aaa
      font-weight: bold

      i
        font-weight: normal
        font-style: normal