@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Cabin:500);body {
  font-family: Open Sans, sans-serif; }

body, h1, h2, h3, ul, li, p {
  margin: 0;
  padding: 0; }

div.loading {
  width: 50%;
  margin: 0 auto;
  padding: 300px;
  text-align: center;
  color: #aaa; }

header {
  background: #263F86;
  text-align: center; }
  header h1 {
    display: inline-block; }
  header h1 a {
    text-indent: -9999px;
    background: url(/static/3491de224316ff1eacbfdc320b30220f.png);
    background-size: 128px 32px;
    display: block;
    width: 128px;
    height: 32px;
    margin: 12px 0 11px 0;
    padding: 0;
    cursor: pointer; }

nav {
  font-family: Cabin;
  font-weight: 500;
  font-size: 17px; }
  nav ul {
    list-style-type: none;
    border-top: 1px solid #1B2F67;
    padding: 0 5px 15px 5px; }
    nav ul li {
      display: inline-block;
      margin: 15px 20px 0 0; }
      nav ul li a {
        cursor: pointer; }
      nav ul li a, nav ul li span.active {
        display: block;
        color: #fff;
        text-decoration: none;
        padding-bottom: 4px; }
      nav ul li a:hover, nav ul li span.active {
        border-bottom: 4px solid #070C1A;
        padding-bottom: 0; }
      nav ul li:last-child {
        margin-right: 0; }

main {
  padding: 15px; }
  main h2 {
    font-family: Cabin;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 15px 0; }
  main .story {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 700; }
    main .story > a, main .story img {
      display: block;
      width: 100px;
      height: 75px; }
    main .story > a {
      align-self: flex-start;
      margin: 0 20px 0 0;
      flex: 0 0 auto;
      background: #f9f9f9; }
    main .story .story-text {
      flex-direction: column;
      align-items: center;
      flex-grow: 2; }
    main .story a {
      color: #000;
      text-decoration: none; }
    main .story a:hover {
      color: #01823C;
      text-decoration: underline; }
    main .story h3 {
      font-size: 16px;
      font-weight: 400;
      margin: 0 0 6px 0; }
      main .story h3 sup {
        margin-left: 10px;
        font-size: 10px;
        color: #ccc; }
    main .story p {
      font-size: 14px;
      color: #aaa;
      font-weight: bold; }
      main .story p i {
        font-weight: normal;
        font-style: normal; }

@media (min-width: 850px) {
  header .container, main {
    max-width: 1000px;
    margin: 0 auto; }
  header {
    text-align: left;
    padding: 0 15px; }
    header nav {
      float: right; }
      header nav ul {
        border: none;
        padding: 0; }
  main .story > a, main .story img {
    width: 130px;
    height: 98px; }
  main .story h3 {
    font-size: 21px; } }
