doctype html

html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Mttrs
    link(href='/static/app.css', rel='stylesheet', type='text/css')
    include ./sentry.pug

  body
    div(id='mttrs') !{ html }
    div(id='dev-tools')

    script(type='text/javascript').
      window.__INITIAL_STATE__ = !{ initialState }
    script(src='/static/app.js')
